body {
  background-color: black;
}


p {
  color: silver;
  font-family: verdana;
  font-size: 400%;
  text-align: center;
}	
	
h1 {
  color: silver;
  font-family: verdana;
  font-size: 150%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}	


	
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}